<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" />
	
	 	<!--[if IE]>
	 		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	 	<![endif]-->
		
		<script src="https://www.google.com/jsapi?key=ABQIAAAAHhP9-H4rbxw1epf3dCVQdhSZ-ksmfV478x1gRUWfTs960BcWIxTjdXxT-_IEjNgoIstJitI7kzXWsQ" type="text/javascript"></script>
	    <script type="text/javascript">

	    google.load("prototype", "1.7");
		google.load("scriptaculous", "1.8");
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-16962817-2']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</head>

	<body id="{{ page.body_id }}">
		<h1>
			<a href="./" id="header">Shadow</a> 
			AWS/S3 Photo Processing for Above Photography
			
			<a href="http://abovephotography.com.au" id="visit">AbovePhotography.com.au</a>
		</h1>
		
		<ol>
			<li id="nav-problems">
				<a href="problems">The Problem</a>
			</li>
			<li id="nav-process">
				<a href="process">The Process</a>
			</li>
			<li id="nav-examples">
				<a href="examples">Examples</a>
			</li>
			<li id="nav-code">
				<a href="code">Code</a>
			</li>
		</ol>
		
		<div>
		
			{{ content }}
		
		</div>
		
		<a id="github" href="https://github.com/nthj/shadow">
		  <span>Fork me on Github</span>
		  <span>See Shadow&#8217;s Code</span>
		</a>
	</body>
</html>
